<%= link_to cart_path, :class => "koszyk", style: 'color:#6c757d' do %>
                                        <span class="fa fa-shopping-cart"></span>
                                        <%= current_cart.line_items.map { |e| e.quantity }.sum %> products for <%= number_to_currency(current_cart.line_items.map { |e| e.full_price }.sum) %>
                                     <% end %>