/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";

 @font-face {
   font-family: "GillSans";
   src: url('/assets/GillSansMTStd-Book');
 }


 p {
    font-family: "GillSans", sans-serif;    
    font-size: 40px;
    font-weight: bold;
    color: #5F5A51;
 }

 p1 {
  font-family: "GillSans", sans-serif;    
  font-size: 20px;
  font-weight: bold;
  color: #5F5A51;
}



 ul {
  list-style-type: none;
  font-family: "GillSans", sans-serif;    
    font-size: 20px;
    font-weight: bold;
    color: #5F5A51;
}




.btn-primary
{
  background-color:  #88773F;
  background-repeat: repeat-x;
  border-color: #88773F;
  color: #fff !important;
}
.btn-primary:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
  background-color:  #5f5A51;
  background-repeat: repeat-x;
  border-color: #5f5A51;
  color: #fff !important;
 }


 .div1 {
  width: 300px;
  height: 100px;
}



.card-header {

  background-color: #E8DFCE;
 
}


.vertical-rl {
  writing-mode: vertical-rl;
  color: #0074d9;
  display: inline-block;
}



div.a {
  margin: 10px 10px 10px 10px;
  -ms-transform: rotate(90deg); /* IE 9 */
  transform: rotate(90deg);
}