<!DOCTYPE HTML>
<html>
	<head>
		<title>Editorial by HTML5 UP</title>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      
  

		</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="index.html" class="logo"><strong>Editorial</strong> by HTML5 UP</a>
								</header>


						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">
							<!-- Section -->							
						</div>
					</div>

			</div>

		<!-- Scripts -->

	</body>
    <%= stylesheet_link_tag    'scale', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'scale', 'data-turbolinks-track': 'reload' %>
</html>


<!-- darek -->
<!DOCTYPE html>
<html>
  <head>

    
    
  </head>

  <body>  
 </body>
</html>